<!DOCTYPE html>
<html>
<head>
<style>
  body {
    font-family: Arial, sans-serif;
    background-color: #C1EFFF;
    margin: 0;
    padding: 0;
  }

  #books {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); /* Added box shadow */
  }

  #books th, #books td {
    border: 1px solid #777; /* Changed border color to darker gray */
    padding: 12px; /* Increased padding */
    text-align: left;
  }

  #books th {
    background-color: #3498DB;
    color: white;
    font-weight: bold;
  }

  #books tr:nth-child(even){
    background-color: #f2f2f2;
  }

  #books tr:hover {
    background-color: #e0e0e0;
  }

  img {
    max-width: 50px;
    max-height: 50px;
  }

  a {
    text-decoration: none;
    color: #337ab7;
  }

  a:hover {
    text-decoration: underline;
  }
</style>
</head>
<body>
  <h1>Details</h1>
  <table id="books">
    <tr>
      <td>Book ID:</td>
      <td><%= onerec.book_id %></td>
    </tr>
    <tr>
      <td>Title:</td>
      <td><%= onerec.title %></td>
    </tr>
    <tr>
      <td>Image:</td>
      <td><img src="<%= onerec.bookimage %>" alt="Book Image"></td>
    </tr>
    <tr>
      <td>Published:</td>
      <td><%= onerec.publication_date.toDateString() %></td>
    </tr>
    <tr>
      <td>Book Language:</td>
      <td><%= onerec.language_name %></td>
    </tr>
    <tr>
      <td>Publisher:</td>
      <td><%= onerec.publisher_name %></td>
    </tr>
    <tr>
      <td>Price:</td>
      <td>$<%= onerec.price %></td>
    </tr>
    <tr>
      <td>ISBN:</td>
      <td><%= onerec.isbn %></td>
    </tr>
    <tr>
      <td>Author Name:</td>
      <td><%= onerec.first_name %> <%= onerec.last_name %></td>
    </tr>
  </table>
</body>
</html>
