<h1> Details </h1>
<table border = '1'> 
<tr> <td> Review ID: </td> <td> <%= onerec.review_id %> </td> </tr>
<tr> <td> Customer ID: </td> <td> <%= onerec.customer_id %> </td> </tr>
<tr> <td> Book ID: </td> <td> <%= onerec.book_id %> </td> </tr>
<tr> <td> Rating: </td> <td> <%= onerec.rating %> </td> </tr>
<tr> <td> Review Text: </td> <td> <%= onerec.review_text %> </td> </tr>
</table>
