<% var totprice = 0 %>
<% var totqty = 0 %>
<% var lineitemcost = 0 %>
<% if (cartitems != '0') {%>
<p> Here products selected in your cart: </p>
	<table border=1>
		<tr>
			<th>Book ID</th>
			<th>Title</th>
			<th>Image</th>
			<th>publication date</th>
			<th>language id</th>
			<th>publisher id</th>
			<th>ISBN</th>
			<th>Price</th>
			<th>Quantity</th>
            <th>Line Cost</th>
			<th>Action</th>
		</tr>
      		<% cartitems.forEach((item, index) => { %>
			<tr>
				<td><%= item.book_id %></td>
				<td><%= item.title %></td>
				<td><%= item.bookimage %></td>
				<td><%= item.publication_date.toDateString() %></td>
				<td><%= item.language_id %></td>
				<td><%= item.publisher_id %></td>
                <td><%= item.isbn %></td>
				<td align="right"><%= Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' }).format(item.price) %></td>
				<% totqty = totqty + parseInt(qtys[index]) %>
				<% lineitemcost = item.price * parseInt(qtys[index]) %>
				<td align="center"><%= qtys[index] %> </td>
				<td align="right"><%= Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' }).format(lineitemcost) %> </td>
				<% totprice = totprice + lineitemcost  %>
				<td>
					<form action="/catalog/remove" method="post" >
						<input type="hidden" name="book_id" value=<%= item.book_id %> >
						<button type="submit" class="button3">Remove</button>
					</form>
				</td>
           		 	</tr>
        		<% }); %>
		<tr bgcolor="#008CBA" >
			<td colspan="8"><b>Totals</b></td>
			<td align="center"><%= totqty %></td>
			<td align="right" ><%= Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' }).format(totprice) %></td>
			<td><button class='button1' onclick="window.location.href='/catalog/checkout'">Checkout</button></td>
		</tr>
	</table>
<% } else { %>
        <p>Cart Is Empty</p>
<% } %>
