<h1>New Record</h1>
<form action="/book" method="post">
  <table border = '1'>
    <tr>
      <td>Title:</td>
      <td><input type="text" name="title" required></td>
    </tr>
    <tr>
      <td>Publication Date:</td>
      <td><input type="date" name="publication_date" required></td>
    </tr>
    
    <tr> <td> Language ID: </td> 
      <td> 
        <select name="language_id" required>
          <option selected disabled>Choose a language</option>
          <% for (var i = 0; i < language.length; i++) { %>
            <option value=<%= language[i].language_id %>> 
                <%= language[i].language_id %> - <%= language[i].language_name %> </option>
          <% } %>
        </select>        
          </tr>
      </td>


      <tr> <td> Publisher ID: </td> 
        <td> 
          <select name="publisher_id" required>
            <option selected disabled>Choose a publisher</option>
            <% for (var i = 0; i < publisher.length; i++) { %>
              <option value=<%= publisher[i].publisher_id %>> 
                  <%= publisher[i].publisher_id %> - <%= publisher[i].publisher_name %> </option>
            <% } %>
          </select>          
            </tr>
        </td>

        
      <td>Price:</td>
      <td><input type="number"  step="any" name="price" required></td>
    </tr>
    <tr>
      <td>ISBN:</td>
      <td><input type="text" name="isbn" required></td>
    </tr>

    <tr>
      <td>Homepage?</td>
      <td><input type="checkbox" name="homepage">
    </td>

    <tr>
      <td>Image</td>
      <td><input type="text" name="bookimage">
    </td>
    
    
  </table>
  <button type="submit">Save</button>

</form>