<h1> Details </h1>
<table border = '1'>
<tr> <td> Book ID: </td> <td> <%= onerec.book_id %> </td> </tr>
<tr> <td> Title: </td> <td> <%= onerec.title %> </td> </tr>
<tr> <td> Publication Date: </td> <td> <%= onerec.publication_date.toDateString()  %> </td> </tr>
<tr> <td> Language ID: </td> <td> <%= onerec.language_id %> </td> </tr>
<tr> <td> Publisher ID: </td> <td> <%= onerec.publisher_id %> </td> </tr>
<tr> <td> Price: </td> <td> <%= onerec.price %> </td> </tr>
<tr> <td> ISBN: </td> <td> <%= onerec.isbn %> </td> </tr>
<tr> <td> Homepage? </td> <td> <%= onerec.homepage %> </td> </tr>
<tr> <td> Image: </td> <td> <%= onerec.bookimage %> </td> </tr>

</table>
 